<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1><a href="index.md">Andie Creel</a></h1>
        <nav>
            <a href="index.md">Home</a> |
            <a href="research.md">Research</a> |
            <a href="CV.pdf">CV</a> |
            <a href="contact.md">Contact</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>